extends layout

block content
  .page
    header.page-header
      .container
        .page-header-icon
          img(src='images/icons/01-icn-documentation.svg', alt='')
        .page-header-title
          h2 Documentation
          p Masterize Kong in one hour
    .container
      aside.page-navigation
        each groupItems, groupTitle in menuItems
          nav
            h5= groupTitle
            ul
              each item in groupItems
                li
                  a(href=item.url, class= { active: item.text === activeMenuItem })= item.text

                  if item.items
                    ul
                      each subitem in item.items
                        li
                          a(href=subitem.url)= subitem.text

      .page-container
        .page-content
          block docs_content
