extends layout

block content
  .container
    section.intro-section
      .intro-section-well
        h2 Manage, Monitor &amp; Sell Your API
        p
          | Apenode is the most used open source API Layer in the World,
          br
          | trusted by more than 100,000 developers.
        p
          a.button.button-primary.button-large(href='#') Download Apenode
          a.button.button-large(href='#') Learn More

  section.social-buttons-section
    ul
      li
        a.github-button(href='https://github.com/Mashape/apenode', data-style='mega') Fork
      li
        a.github-button(href='https://github.com/Mashape/apenode', data-style='mega') Star
      li
        a.twitter-follow-button(href='https://twitter.com/ApeNode', data-show-count='false', data-size='large') Follow @apenode

  section.section.features-section
    .container
      header.section-header
        h2 Apenode Features
        p Learn how the most used API Layer can help growing your API business
      ul.features-list.row
        li.four.columns
          h3 Manage
          img(src='images/illustrations/01-illustration-manage.svg', alt='')
          p Manage API developers, invite them, block them, rate them, limit them, manage their keys.
        li.four.columns
          h3 Monitor
          img(src='images/illustrations/02-illustration-monitor.svg', alt='')
          p Monitor your API usage and provide nice dashboards to your developers using a RESTful API.
        li.four.columns
          h3 Sell
          img(src='images/illustrations/03-illustration-sell.svg', alt='')
          p Sell your API by creating flexible billing plans and letting the Apenode handle the rest.

  section.section.how-it-works-section
    .container
      header.section-header
        h2 How does Apenode Work?
        p The Apenode sits in front of your API with a processing latency under 10ms
      figure
        img(src='images/diagram/01-diagram.svg', alt='')
      ul.features-list.row
        li.four.columns
          p Accesible from any client, server, mobile or application
        li.four.columns
          p Horizontally scalable to handle hundreds of billion of requests
        li.four.columns
          p Supports any RESTful API, inside or outside your infrastructure
      .section-buttons
        a.button.button-primary.button-large(href='#') Download Apenode
    .container.powered-list
      h4
        span the Apenode is powering #[a(href="https://www.mashape.com") Mashape] and all its developers
      .list-inline
        .powered-list-item
          img(src='images/logos/logo-spotify.svg', alt='spotify')
        .powered-list-item
          img(src='images/logos/logo-hyatt.svg', alt='hyatt')
        .powered-list-item
          img(src='images/logos/logo-virgin.svg', alt='virgin')
        .powered-list-item
          img(src='images/logos/logo-amazon.svg', alt='amazon')
        .powered-list-item
          img(src='images/logos/logo-us-airways.svg', alt='usairways')
        .powered-list-item
          img(src='images/logos/logo-espn.svg', alt='espn')
        .powered-list-item
          img(src='images/logos/logo-citybank.svg', alt='citibank')
        .powered-list-item
          img(src='images/logos/logo-nasa.svg', alt='nasa')
        .powered-list-item
          img(src='images/logos/logo-target.svg', alt='target')

  section.section.looking-for-help-section
    .container
      header.section-header
        h2 Looking for Help?
        p Don't panic, we have everything you need 1 click away
      .row
        ul.features-list.learn-more.row
          li.three.columns
            h3 Documentation
            img(src='images/icons/01-icn-documentation.svg', alt='')
            p Learn how to install and use the Apenode by reading the official documentation
            p #[a.button(href='#') Learn More]
          li.three.columns
            h3 Training
            img(src='images/icons/02-icn-training.svg', alt='')
            p Learn how to use Apenode, watch our screencasts and read our tutorials.
            p #[a.button(href='#') Learn More]
          li.three.columns
            h3 Developers
            img(src='images/icons/03-icn-developers.svg', alt='')
            p Learn how to contribute to Apenode and get support from the community.
            p #[a.button(href='#') Learn More]
          li.three.columns
            h3 Enterprise
            img(src='images/icons/04-icn-enterprise.svg', alt='')
            p Having the Apenode running in production and looking for SLA-based support?
            p #[a.button(href='#') Learn More]

block scripts
  script#github-bjs(async='', defer='', src='//buttons.github.io/buttons.js')
  script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
