@import (inline) "../bower_components/skeleton-css/css/normalize.css";
@import (inline) "../bower_components/skeleton-css/css/skeleton.css";
@import (inline) "footer.css";

@import "variables";
@import "base";

// General styles

figure {
  margin: 0;

  img {
    width: 100%;
    height: auto;
  }
}

h2 {
  font-size: 33px;
  font-weight: 300;
}

// Navbar

.navbar {
  &:extend(.u-cf, .u-full-width);
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }

  a {
    color: @light-gray;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 13px;
    transition: all .2s linear;

    &:hover {
      color: #2c3033;
    }

    &:active,
    &.active {
      color: #0e9245;
    }
  }
}

.navbar-nav {
  &:extend(.u-cf);
  margin: 0 -15px;
  float: right;

  li {
    margin: 0;
    list-style: none;
    float: left;
  }

  a {
    padding: 15px 12px;
    line-height: 22px;
  }

  .button {
    &:extend(.button);
    height: 32px;
    line-height: 32px;
    font-weight: 500;
  }
}

.navbar-form {
  margin: 10px 12px;
}

.navbar-brand {
  padding-top: 14px;
  float: left;
}

@import "homepage";
@import "documentation";

// TODO code + pre
// TODO Footer
