@import (inline) "../bower_components/skeleton-css/css/normalize.css";
@import (inline) "../bower_components/skeleton-css/css/skeleton.css";
@import "variables";
@import "overrides";
@import (inline) "footer.css";

// General styles

figure {
  margin: 0;

  img {
    width: 100%;
    height: auto;
  }
}

h2 {
  font-size: 33px;
  font-weight: 300;
}

// Navbar

.navbar {
  &:extend(.u-cf, .u-full-width);
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }

  a {
    color: @light-gray;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 13px;
    transition: all .2s linear;

    &:hover {
      color: #2c3033;
    }

    &:active,
    &.active {
      color: #0e9245;
    }
  }
}

.navbar-nav {
  &:extend(.u-cf);
  margin: 0 -15px;
  float: right;

  li {
    margin: 0;
    list-style: none;
    float: left;
  }

  a {
    padding: 15px 12px;
    line-height: 22px;
  }

  .button {
    &:extend(.button);
    height: 32px;
    line-height: 32px;
    font-weight: 500;
  }
}

.navbar-form {
  margin: 10px 12px;
}

.navbar-brand {
  padding-top: 14px;
  float: left;
}

// Sections

.intro-section {
  display: table;
  width: 100%;
  text-align: center;
  padding: 4rem 0;

  .intro-section-well {
    display: table-cell;
    vertical-align: middle;
  }

  h2 {
    font-family: @family-whitney;
    font-size: 28px;
    font-weight: 600;
    color: @dark-gray;
  }

  p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 500;
  }

  .button {
    margin-right: 10px;
  }

  @media (min-width: 1000px) {
    min-height: 450px;
    text-align: left;
    background-size: contain;
    background: url("../images/net/net-1x.png") no-repeat right center;
    padding: 0;
  }
}

.social-buttons-section {
  text-align: center;
  padding: 20px 0;
  background-color: #fbfbfc;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;

  ul {
    list-style: none;
    margin: 0;
    line-height: 0;
  }

  li {
    display: inline-block;
    margin: 0 40px;

    iframe {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.section {
  padding: 60px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 45px;

  h2 {
    margin: 0;
    color: #45494d;
  }

  p {
    color: #74777a;
    margin: 5px 0 0;
  }
}

.section-buttons {
  margin-top: 20px;
  text-align: center;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  h3 {
    font-family: @family-whitney;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 30px;
    color: @middle-gray;
  }

  img {
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    line-height: 22px;
    font-weight: 500;
    color: #667580;

    + p {
      margin-top: 15px;
    }
  }
}

.how-it-works-section {
  background-color: #fbfbfc;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  padding-bottom: 0;

  .section-header {
    margin-bottom: 50px;
  }

  .features-list {
    margin-top: 45px;
  }

  h4 {
    font-family: @family-whitney-ss-sc;
    font-size: 13px;
    color: #929da6;
    position: relative;
    font-weight: 500;
    z-index: 1;
    margin: 0;

    span {
      background-color: #fbfbfc;
      padding: 0 15px;
    }

    &:before {
      content: "";
      position: absolute;
      background-color: #f0f0f0;
      height: 1px;
      width: 100%;
      left: 0;
      top: 50%;
      z-index: -1;
    }
  }

  .section-buttons {
    margin-bottom: 85px;
  }
}

.powered-list {
  display: table;
  width: 100%;

  .powered-list-item {
    display: table-cell;
    height: 85px;
    vertical-align: middle;
  }
}

.looking-for-help-section {
  .features-list {
    h3 {
      margin-bottom: 15px;
    }

    img {
      margin-bottom: 10px;
    }
  }

  .three.columns {
    position: relative;
    margin-bottom: 0;

    + .columns:after {
      content: "";
      position: absolute;
      top: 0;
      left: -8%;
      width: 2px;
      height: 100%;
      background-color: #f2f2f2;
    }
  }
}

// Page
.page-header {
  background-color: #fdfdfd;
  border-bottom: 1px solid #ebebeb;
  padding: 50px 0;

  h2 {
    font-size: 33px;
    font-weight: 300;
  }

  h2, p {
    margin: 0;
  }

  .page-header-icon {
    float: left;
  }

  .page-header-title {
    padding-left: 90px;
  }
}

.page-navigation {
  float: left;
  width: 230px;
  padding: 60px 0;
  border-right: 1px solid #ebebeb;

  h5 {
    font-family: @family-whitney-ss-sc;
    font-size: 13px;
    color: #49504e;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 1.6;
  }

  nav > ul {
    margin-bottom: 1.5em;
  }

  li {
    line-height: 30px;
  }

  li ul a {
    padding-left: 30px;
    color: #9da9b3;
  }

  a {
    padding: 0 17px;
    border-left: 1px solid #ebebeb;

    &.active {
      font-weight: 500;
      cursor: default;
      color: #49504e;
      background-color: #eef8f2;
      border-left: 2px solid @green;
    }
  }
}

.page-container {
  padding: 60px 0 60px 230px;
}

.page-content {
  padding: 0 50px;
  font-size: 18px;
  font-family: @family-whitney;
  line-height: 1.5;

  .big {
    font-size: 23px;
  }

  h1, h2, h3 {
    margin-bottom: 1em;
    font-weight: 600;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 24px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: .5em;
    margin-bottom: .5em;
  }

  h3 {
    font-size: 23px;
    color: #40805b;
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  p, figure {
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    color: @green;

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border-top: 4px solid #ebebeb;
  }

  figure {
    img {
      display: block;
    }

    figcaption {
      border: 1px solid #efefef;
      border-radius: 0 0 3px 3px;
      background-color: #fcfcfc;
      font-family: @family-whitney-ss;
      font-size: 13px;
      padding: 14px 13px;
      line-height: 1;
      color: #879199;
    }
  }
}

.instructions-steps {
  list-style: none;
  padding-left: 26px;
  counter-reset: step;

  .instructions-step-item {
    position: relative;
    padding: 10px 0 20px 44px;
    border-left: 1px solid #ebebeb;
    margin: 0;

    *:last-child {
      margin-bottom: 0;
    }

    &:last-child {
      border: 0 none;
    }

    &:before {
      counter-increment: step;
      content: counter(step);
      box-sizing: border-box;
      width: 50px;
      height: 50px;
      line-height: 48px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ebebeb;
      background-color: #fff;
      font-weight: 600;
      color: #40805b;
      position: absolute;
      left: -26px;
      top: 0;
    }
  }
}

// TODO Table of Contents
// TODO Alerts
// TODO code + pre
// TODO Footer